body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f7ff;
  margin: 0;
  padding: 0;
}
.box {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.details{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.legend {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.legend span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 10px;
}

.legend .available {
  background-color: #ddd;
}

.legend .booked {
  background-color: #777;
}

.legend .selected {
  background-color: #ff006e;
}

.seats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  align-items: center;
  gap: 35px;
}

.row span {
  font-weight: bold;
  margin-right: 10px;
}

.seat {
  width: 25px;
  height: 25px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.seat.booked {
  background-color: #777;
  cursor: not-allowed;
}

.seat.selected {
  background-color: #ff006e;
}

.screen {
  margin: 20px auto;
  width: 80%;
  height: 5px;
  background-color: #ccc;
  text-align: center;
}
